@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="text-center">

        <br />
        <div class="container" style="max-width: 420px;">
            <div class="rounded-pill d-grid gap-2" style="background-color: #caacba">
                    <a class="btn d-grid gap-2 " href="@Url.Action("Contact","Home")" role="button"><h2>Tijuana</h2></a>
            </div>
        </div>
        <br />
        <div class="container" style="max-width: 420px;">
            <div class="container-fluid rounded-pill " style="background-color: #caacba">
                <a class="btn text-center" href="@Url.Action("About","Home")" role="button"><h2>Mexicali</h2></a>
            </div>
        </div>
        <br />
        <div class="container" style="max-width: 420px;">
            <div class="container-fluid rounded-pill" style="background-color: #caacba">
                <a class="btn navbar-brand" href="@Url.Action("Rosarito","Home")" role="button"><h2>Rosarito</h2></a>
            </div>
        </div>
        <br />
        <div class="container text-center" style="max-width: 420px;"> 
            <div class="container-fluid rounded-pill" style="background-color: #caacba">
                <a class="btn navbar-brand text-center" href="@Url.Action("Ensenada","Home")" role="button"><h2>Ensenada</h2></a>
            </div>
        </div>
        <br />
        <div class="container" style="max-width: 420px;">
            <div class="container-fluid rounded-pill" style="background-color: #caacba">
                <a class="btn navbar-brand" href="@Url.Action("Tecate","Home")" role="button"><h2>Tecate</h2></a>
            </div>
        </div>
        <br />
        <h2>@Html.ActionLink("Busqueda Avanzada", "Busqueda", "Home")</h2>


    </div>
</body>
<div class="row">

</div>